{{!-- each post created by user --}}
<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>

{{!-- submit button to create a new post --}}
<button type="submit" class="btn btn-primary">+ New Post</button>