<section>
    <h3>Edit Post</h3>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="editedPostTitle" placeholder="Enter title"> 
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="editedPostContent" placeholder="Enter Content">
        </div>
        <button type="submit" class="btn btn-primary">Update Post</button>
        <button type="submit" class="btn btn-primary">Delete Post</button>
    </form>
</section>

{{!-- placeholder will be the post details --}}